# Import pymysql

In [1]:
import pymysql

# creating connection

In [2]:
# Database creation function 
def CreateConn():
    return pymysql.connect(host="localhost",database="test",user="root",password="",port=3306)

# Create and Insert

In [3]:
import pymysql
# Database creation function 
def CreateConn():
    return pymysql.connect(host="localhost",database="test",user="root",password="",port=3306)

# Table create fuunction 
def CreateTable():
    conn  = CreateConn()
    cursor = conn.cursor() #helpning to exceute your query
    query = "create table students(rollno int primary key auto_increment, fname VARCHAR(50),lname VARCHAR(50), email VARCHAR(50))"
    cursor.execute(query)
    conn.commit()
    print("Table Created ",query)
    conn.close()
    
# Calling create function 
CreateTable()

Table Created  create table students(rollno int primary key auto_increment, fname VARCHAR(50),lname VARCHAR(50), email VARCHAR(50))

# Insert recorrd in database

In [9]:
def InsertData(name,email,city):
    conn = CreateConn()
    cursor = conn.cursor()
    args = (name,email,city)
    query = "insert into student(name,email,city)values(%s,%s,%s)"
    cursor.execute(query,args)
    conn.commit()  #saving the data using commit
    print("Data Inserted",query)
    conn.close()
    
n = input("Enter your Name :")
e = input("Enter your Email :")
c = input("Enter your City :")
InsertData(n,e,c)

Enter your Name :Anshi
Enter your Email :anshi@gmail.com
Enter your City :Gola
Data Inserted insert into student(name,email,city)values(%s,%s,%s)

# Fetch all data from database

In [10]:
def ShowAllData():
    conn = CreateConn()
    cursor = conn.cursor()
    query = "select * from student"
    cursor.execute(query)
    result = cursor.fetchall()
    for i in result:
        print(i)
        
ShowAllData()

(1, 'Gyan', 'Gp@gmail.com', 'Lucknow')
(2, 'Anshi', 'anshi@gmail.com', 'Gola')

# Fetch data by id from Database

In [13]:
def ShowAllDataById(sid):
    conn = CreateConn()
    cursor = conn.cursor()
    args = (sid)
    query = "select * from student where sid=%s"
    cursor.execute(query,args)
    result = cursor.fetchall()
    for i in result:
        print(i)

ShowAllData()
sid = int(input("Enter your id :"))
ShowAllDataById(sid)

(1, 'Gyan', 'Gp@gmail.com', 'Lucknow')
(2, 'Anshi', 'anshi@gmail.com', 'Gola')
Enter your id :1
(1, 'Gyan', 'Gp@gmail.com', 'Lucknow')

# Update data from Database

In [16]:
def UpdateData(name,email,city,sid):
    conn = CreateConn()
    cursor = conn.cursor()
    args = (name,email,city,sid)
    query = "update student set name=%s,email=%s,city=%s where sid=%s"
    cursor.execute(query,args)
    conn.commit()
    print("Data Updated :",query)
    conn.close()
    
ShowAllData()

sid = int(input("Enter your ID :"))
n = input("Enter your Name :")
e = input("Enter your Email :")
c = input("Enter your City :")

UpdateData(n,e,c,sid)
ShowAllData()

(1, '', '', 'Prayagraj')
(2, 'Anshi', 'anshi@gmail.com', 'Gola')
Enter your ID :1
Enter your Name :Gyan Prakash
Enter your Email :gp@gmail.com
Enter your City :Prayagraj
Data Updated : update student set name=%s,email=%s,city=%s where sid=%s
(1, 'Gyan Prakash', 'gp@gmail.com', 'Prayagraj')
(2, 'Anshi', 'anshi@gmail.com', 'Gola')

# Delete data from Database

In [19]:
def DeleteData(sid):
    conn = CreateConn()
    cursor = conn.cursor()
    args = (sid)
    query = "delete from student where sid=%s"
    cursor.execute(query,args)
    conn.commit()
    print("Data Deleted :",query)
    conn.close()
    
ShowAllData()

sid = int(input("Enter your ID :"))

DeleteData(sid)

ShowAllData()

(1, 'Gyan Prakash', 'gp@gmail.com', 'Prayagraj')
(2, 'Anshi', 'anshi@gmail.com', 'Gola')
Enter your ID :2
Data Deleted : delete from student where sid=%s
(1, 'Gyan Prakash', 'gp@gmail.com', 'Prayagraj')